.createStoryWrap {
  background-image: linear-gradient(rgba(137, 220, 108, 0), rgba(97, 177, 69, 0.29));
  color: #8add6d;
  border-radius: 5px;
  height: auto;
  margin: 30px 10px 0 10px;
  padding: 10px;
  display: block;
  width: 80%;

}
.accordianSide {
  width: 40%;
  display: inline-block;
  float: right;

}
.createStoryInput {
    border: solid #62b346 2px;
    font-family: 'Russo One', sans-serif;
    border-radius: 3px;
    height: 5%;
    font-size: 1.3em;
    margin: auto;
    display: inline;
    text-align: center;
    max-width: 70%;
    overflow: hidden;
    background-image: linear-gradient(#dce2e2, #eef3ed);
    margin-top: -10px;
}

.createTitleInput {
  width: 400px;
}

.createNumberInput {
  width: 10%;
}
