.gamesWrap {
  width: 25%;
  max-width: 500px;
  background-color: darkgrey;
  height: 600px;
  float: left;
  margin: 30px;
  text-align: center;
  overflow: hidden;
}
.gameInProgress {
  color: white;
  font-size: 1.2em;
  line-height: 0.5em;
  font-family: Lato;
}

ul {
  list-style-type: none;
}

.gameTextInput {
    border: solid #f08ef1 2px;
    font-family: 'Russo One', sans-serif;
    border-radius: 10px;
    height: 5%;
    font-size: 1.3em;
    margin: auto;
    display: inline;
    text-align: center;
    max-width: 70%;
    overflow: hidden;
    background-image: linear-gradient(#dce2e2, #eef3ed);
}
.subjectDisplay {
  display: normal;
}
.guessinput {
   display: block;
   color: #78ca5b;
   margin-top: 10px;
}

.subjectinput {
   display: block;
   color: #78ca5b;
   margin-top: 0px;
}

input[type=submit] {
    border-radius: 5px;
    border: 0;
    width: 80px;
    height:25px;
    font-family: Lato;
    background: #82d465;
    color: #a263a2;
    font-size: 1em;
    
    font-family: 'Russo One', sans-serif;
    margin-top: 5px;
    margin-left: 60%;
    border: 1px solid rgba(255, 255, 255, 0.68);


     &:hover {
    color: white;
    background: #f08ef1;
    border: 1px solid rgba(255, 255, 255, 0.68);
  }
    }

.feedImages {
  border-radius: 5px;
  margin-bottom: -2px;
  border: solid #f08ef1 2px;
}

.feedText {
  color: #b3ec9e;
  font-size: 1.4em;
  margin-left: 40px;
}


.feedTextTitle {
  color: rgba(121, 69, 121, 0.71);
  font-size: .75em;
  margin-left: 5px;
}
.guessFeed{
  margin: auto;
  margin-top: -10px;
  max-width: 500px;
  width: 100%;
  border-radius: 20px;
  height: 300px;
  background-image: linear-gradient(rgba(137, 220, 108, 0), rgba(97, 177, 69, 0.29));
  overflow: scroll;
  display: inline-block;
}
.guessEntry {
  text-align: left;
  margin: auto;
  width: 90%;
  border-bottom: solid rgba(240, 142, 241, 0.35);
}

.openStoryWrap {
  background-color: white;
  color: black;
  border: solid 1px #d7d7d7;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  box-shadow: 3px 3px 0px #d7d7d7;
}
.screenWrap {
  margin-top: 25px;
  width: 50%;
  display: inline-block;
}

.guessWrap {
  margin-top: 45px;
  width: 50%;
  display: inline-block;
  float: right;
}
form {
  display: inline-block;

}
.openStoryTitle {
  font-size: 1.2em;
  display: inline-block;
  width: 55%;
}

.openStoryUsers {
  font-size: 1.2em;
  display: inline-block;
  width: 10%
}

.openStoryJoinWrap {
  display: inline-block;
  text-align: right;
  width: 30%;
  padding-left: 5%;
}
