body {
  font-family: helvetica;
  font-weight: 800;
  background-color: @darkgrey;
  color: @black;
  text-align: center;
}

a {
  &:link {
  text-decoration: none;
  color: @white;
  }

  &:visited {
  text-decoration: none;
  color: @white;
  }

  &:hover {
  text-decoration: none;
  color: @white;
  }

  &:active {
  text-decoration: none;
  color: @white;
  }
}

img{
  border-radius: 50%;
}
